@import 'variables';
@import 'mixins';
@import 'templates';

@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    @extend %title;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
    font-family: oswald;
    text-align: center;
    background: $dark;
    color: $dark;
}

body {
    > * {
        @extend %page-section;
    }
    > header {
        background: $fair;
        position: relative;
        padding: 40px 0;
        > h1 {
            font-size: 5em;
            color: $special;
            > span:nth-last-of-type(1){
                border-top: 10px solid $special;
            }
            > span:nth-last-of-type(2){
                border-bottom: 10px solid $special;
            }
            > span:nth-last-of-type(3){
                border-top: 10px solid $special;
            }
        }
    }
    > nav {
        border-top: 10px solid $dark;
        border-bottom: 5px solid $shadow;
        background: $dark;
        > #stMenu {
            list-style-type: none;
            background: $dark;
            width: 100%;
            > li {
                position: relative;
                background: $dark;
                float: left;
                width: 15vh;
                height: 15vh;
                transition: 0.25s ease;
                &:hover{
                    background: $special;
                }
                > a {
                    @extend %vertical-center;
                    @extend %title;
                    color: $fair;
                    font-size: 1.5em;
                }
            }
            .stMenu_active {
                background: $fair;
                > a {
                    color: $dark;
                    font-weight: bold;
                }
            }
        }
        .wrappedMenu {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999;
            > li {
                width: 30vh !important;
                height: 5vh !important;
            }
        }
    }
    > section {
        background: $fair;
        > .stSection {
            background: $special;
            margin: auto;
            width: 100%;
            > div {
                float: left;
                width: 50%;
                background: $fair;
                box-sizing: border-box;
                padding: 40px 0px;
            }
            > div:nth-of-type(1){
                border-right: 1px solid $shadow;
                > h1 {
                    font-size: 2em;
                }
                > h2 {
                    font-size: 1.5em;
                }
            }
            > div:nth-of-type(2){
                > h1 {
                    font-size: 2em;
                }
                > h2 {
                    font-size: 1.5em;
                }
            }
        }
    }
    > footer {
        border-top: 5px solid $shadow;
        background: $dark;
        color: $fair;
    }
}
.stPreview {
    width: 80%;
    height: 700px;
    margin: 20px 10%;
    border: 2px solid $shadow;
    position: relative;
    float: left;
    box-sizing: border-box;
    > div {
        width: 250px;
        height: 250px;
        background: $special;
        @extend %vertical-center;
    }
    > p {
        @extend %vertical-center;
        font-size: 2em;
        color: $special;
    }
}
.stCode {
    width: 80%;
    margin: 0px 10%;
    border: 2px solid $shadow;
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 20px 0px;
    > textarea {
        width: 90%;
        height: 300px;
        resize: none;
        font-family: oswald;
        font-size: 1.4em;
        border: 1px solid $special;
        padding: 10px;
    }
    > button {
        @extend %button;
        @extend %title;
        background: $special;
        color: $fair;
        font-size: 1.1em;
        padding: 5px 50px;
        margin-top: 20px;
        position: relative;
    }
    .bttnCopyInfo {
        &::after {
            content: "Text has been copied";
            position: absolute;
            color: $dark;
            right: -200px;
        }
    }
}
.stConf {
    width: 50%;
    margin: 20px 25%;
    padding: 10px;
    text-align: center;
    border: 2px solid $shadow;
    transition: 0.25s ease;
    float: left;
    > * {
        float: left;
        margin: 5px 0px;
    }
    > h2 {
        display: inline-block;
        font-size: 1em;
        width: 100%;
    }
    > p {
        width: 100%;
        @extend %title;
        font-size: 0.8em;
    }
    > input[type=number], input[type=text]{
        outline: none;
        border: none;
        width: 100%;
        font-family: oswald;
        border: 1px solid $special;
        background: $fair;
        padding: 10px 0xp;
        text-align: center;
        font-size: 1.1em;
    }
    >button {
        @extend %button;
        @extend %title;
        background: $special;
        color: $fair;
        font-size: 1.1em;
        padding: 5px 0px;
        &:hover {
            background: $dark;
        }
    }
    > button, progress {
        width: 50%;
        box-sizing: border-box;
    }
    > progress[value]:nth-of-type(1)::-webkit-progress-bar {
        background: $special;
        border-top-left-radius: 100%;
    }
    > progress[value]:nth-of-type(1)::-moz-progress-bar {
        background: $special;
        border-top-left-radius: 100%;
    }
    > progress[value]:nth-of-type(2)::-webkit-progress-bar {
        background: $dark;
        border-top-right-radius: 100%;
    }
    > progress[value]:nth-of-type(2)::-moz-progress-bar {
        background: $dark;
        border-top-right-radius: 100%;
    }
    &:hover{
        background: $shadow;
    }
}
//BOX SHADOW
#stBox-Shadow{
    background: none;
    >div:nth-last-of-type(2){
        position: relative;
        > div{
            
        }
    }
}

//PROGRESS
progress[value] {
    border: none;
    appearance: none;
    background: none;
    border-bottom: 2px solid $special;
    height: 15px;
}
//INPUT NUMBER
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}