@import 'variables';
@import 'mixins';
@import 'templates';

@font-face {
    font-family: oswald;
    src: url(../fonts/Oswald-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    @extend %title;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
    font-family: oswald;
    text-align: center;
    background: $dark;
    color: $dark;
}

body {
    > * {
        @extend %page-section;
    }
    > header {
        background: $fair;
        position: relative;
        padding: 40px 0;
        > h1 {
            font-size: 5em;
            color: $special;
            > span:nth-last-of-type(1){
                border-top: 10px solid $special;
            }
            > span:nth-last-of-type(2){
                border-bottom: 10px solid $special;
            }
            > span:nth-last-of-type(3){
                border-top: 10px solid $special;
            }
        }
    }
    > nav {
        border-top: 10px solid $dark;
        border-bottom: 5px solid $shadow;
        background: $dark;
        > #stMenu {
            list-style-type: none;
            background: $dark;
            width: 100%;
            > li {
                position: relative;
                background: $dark;
                float: left;
                width: 15vh;
                height: 15vh;;
                transition: 0.25s ease;
                &:hover{
                    background: $special;
                }
                > a {
                    @extend %vertical-center;
                    @extend %title;
                    color: $fair;
                    font-size: 1.5em;
                }
            }
            .stMenu_active {
                background: $fair;
                > a {
                    color: $dark;
                    font-weight: bold;
                }
            }
        }
        .wrappedMenu {
            position: fixed;
            top: 0;
            left: 0;
        }
    }
    > section {
        background: $fair;
        > .stSection {
            background: $special;
            margin: auto;
            width: 100%;
            > div {
                float: left;
                width: 50%;
                background: $fair;
                box-sizing: border-box;
                padding: 40px 0px;
            }
            > div:nth-of-type(1){
                > h1 {
                    font-size: 2em;
                }
                > h2 {
                    font-size: 1.5em;
                }
            }
            > div:nth-of-type(2){
                border-left: 1px solid $shadow;
            }
        }
    }
    > footer {
        border-top: 5px solid $shadow;
        background: $dark;
        color: $fair;
    }
}

.stConf {
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border: 2px dashed $special;
    transition: 0.25s ease;
    > h2 {
        display: inline-block;
        font-size: 1em;
        width: 100%;
        margin: 0;
    }
    > input[type=number]{
        display: inline-block;
        margin: 5px;
    }
    > input[type=range]{
        margin: auto;
        width: 80%;
        display: block;
    }
    &:hover{
        transform: scale(1.05,1.05);
    }
}
//BOX SHADOW
#stBox-Shadow{

}